/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
  width: 150px;
  margin-top: 4px;
}


/*
 * Base structure
 */


body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
  z-index: 1;
  margin-top: 350px;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

/*
 * Background CSS
 */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #11053b;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 42s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #3a88fe;
    top: 45%;
    left: 88%;
    animation-duration: 18s;
    animation-delay: -38s;
    transform-origin: -19vw -21vh;
    box-shadow: 32vmin 0 4.411921291625199vmin currentColor;
}
.background span:nth-child(1) {
    color: #0042aa;
    top: 8%;
    left: 63%;
    animation-duration: 35s;
    animation-delay: -2s;
    transform-origin: 0vw -6vh;
    box-shadow: -32vmin 0 4.82754330846272vmin currentColor;
}
.background span:nth-child(2) {
    color: #00a3d8;
    top: 43%;
    left: 19%;
    animation-duration: 50s;
    animation-delay: -56s;
    transform-origin: -8vw 1vh;
    box-shadow: -32vmin 0 4.056374764612116vmin currentColor;
}

.background span:nth-child(3) {
    color: #00a3d8;
    top: 85%;
    left: 35%;
    animation-duration: 33s;
    animation-delay: -3s;
    transform-origin: -21vw 23vh;
    box-shadow: 32vmin 0 4.839040807222388vmin currentColor;
}
.background span:nth-child(4) {
    color: #0042aa;
    top: 85%;
    left: 88%;
    animation-duration: 34s;
    animation-delay: -71s;
    transform-origin: 2vw -2vh;
    box-shadow: 32vmin 0 4.303716849795053vmin currentColor;
}
.background span:nth-child(5) {
    color: #0042aa;
    top: 61%;
    left: 59%;
    animation-duration: 78s;
    animation-delay: -75s;
    transform-origin: -9vw -18vh;
    box-shadow: -32vmin 0 4.458119265179254vmin currentColor;
}
.background span:nth-child(6) {
    color: #00a3d8;
    top: 54%;
    left: 96%;
    animation-duration: 77s;
    animation-delay: -74s;
    transform-origin: 10vw 11vh;
    box-shadow: -32vmin 0 4.686813589935799vmin currentColor;
}
.background span:nth-child(7) {
    color: #0042aa;
    top: 87%;
    left: 47%;
    animation-duration: 60s;
    animation-delay: -35s;
    transform-origin: -2vw 13vh;
    box-shadow: -32vmin 0 4.682930557244643vmin currentColor;
}
.background span:nth-child(8) {
    color: #00a3d8;
    top: 10%;
    left: 43%;
    animation-duration: 49s;
    animation-delay: -40s;
    transform-origin: 23vw -3vh;
    box-shadow: 32vmin 0 4.3553543550661615vmin currentColor;
}
.background span:nth-child(9) {
    color: #0042aa;
    top: 52%;
    left: 7%;
    animation-duration: 22s;
    animation-delay: -49s;
    transform-origin: 21vw 24vh;
    box-shadow: -32vmin 0 4.305247459862609vmin currentColor;
}
.background span:nth-child(10) {
    color: #3a88fe;
    top: 43%;
    left: 7%;
    animation-duration: 51s;
    animation-delay: -47s;
    transform-origin: 21vw 10vh;
    box-shadow: -32vmin 0 4.964238891505049vmin currentColor;
}
.background span:nth-child(11) {
    color: #00a3d8;
    top: 75%;
    left: 81%;
    animation-duration: 23s;
    animation-delay: -1s;
    transform-origin: -22vw -7vh;
    box-shadow: 32vmin 0 4.12819889148579vmin currentColor;
}
.background span:nth-child(12) {
    color: #00a3d8;
    top: 44%;
    left: 16%;
    animation-duration: 29s;
    animation-delay: -43s;
    transform-origin: -5vw 19vh;
    box-shadow: -32vmin 0 4.217899614168162vmin currentColor;
}
.background span:nth-child(13) {
    color: #0042aa;
    top: 95%;
    left: 16%;
    animation-duration: 68s;
    animation-delay: -73s;
    transform-origin: -5vw 3vh;
    box-shadow: -32vmin 0 4.088488150218245vmin currentColor;
}
.background span:nth-child(14) {
    color: #00a3d8;
    top: 33%;
    left: 24%;
    animation-duration: 33s;
    animation-delay: -60s;
    transform-origin: -23vw -24vh;
    box-shadow: 32vmin 0 4.4492347046089495vmin currentColor;
}
.background span:nth-child(15) {
    color: #0042aa;
    top: 29%;
    left: 15%;
    animation-duration: 62s;
    animation-delay: -5s;
    transform-origin: 6vw -18vh;
    box-shadow: -32vmin 0 4.428526852709618vmin currentColor;
}
.background span:nth-child(16) {
    color: #0042aa;
    top: 49%;
    left: 45%;
    animation-duration: 39s;
    animation-delay: -50s;
    transform-origin: -3vw -9vh;
    box-shadow: 32vmin 0 4.18543713000119vmin currentColor;
}
.background span:nth-child(17) {
    color: #00a3d8;
    top: 92%;
    left: 41%;
    animation-duration: 37s;
    animation-delay: -7s;
    transform-origin: 7vw 23vh;
    box-shadow: -32vmin 0 4.433647175741164vmin currentColor;
}
.background span:nth-child(18) {
    color: #0042aa;
    top: 23%;
    left: 95%;
    animation-duration: 42s;
    animation-delay: -7s;
    transform-origin: 7vw -9vh;
    box-shadow: 32vmin 0 4.901342865815652vmin currentColor;
}
.background span:nth-child(19) {
    color: #3a88fe;
    top: 9%;
    left: 1%;
    animation-duration: 40s;
    animation-delay: -2s;
    transform-origin: -24vw 9vh;
    box-shadow: 32vmin 0 4.196573554832072vmin currentColor;
}
.background span:nth-child(20) {
    color: #00a3d8;
    top: 60%;
    left: 9%;
    animation-duration: 35s;
    animation-delay: -29s;
    transform-origin: 4vw -2vh;
    box-shadow: 32vmin 0 4.842841788465751vmin currentColor;
}
.background span:nth-child(21) {
    color: #0042aa;
    top: 97%;
    left: 95%;
    animation-duration: 56s;
    animation-delay: -50s;
    transform-origin: 16vw 24vh;
    box-shadow: -32vmin 0 4.96812273699598vmin currentColor;
}
.background span:nth-child(22) {
    color: #0042aa;
    top: 71%;
    left: 81%;
    animation-duration: 20s;
    animation-delay: -15s;
    transform-origin: -15vw -9vh;
    box-shadow: -32vmin 0 4.9054522505108675vmin currentColor;
}
.background span:nth-child(23) {
    color: #3a88fe;
    top: 46%;
    left: 42%;
    animation-duration: 30s;
    animation-delay: -48s;
    transform-origin: 11vw -7vh;
    box-shadow: 32vmin 0 4.5129331929154155vmin currentColor;
}
.background span:nth-child(24) {
    color: #0042aa;
    top: 35%;
    left: 10%;
    animation-duration: 56s;
    animation-delay: -20s;
    transform-origin: 18vw -2vh;
    box-shadow: -32vmin 0 4.6467554447526vmin currentColor;
}
.background span:nth-child(25) {
    color: #0042aa;
    top: 83%;
    left: 41%;
    animation-duration: 7s;
    animation-delay: -52s;
    transform-origin: 3vw -5vh;
    box-shadow: 32vmin 0 4.565663373089215vmin currentColor;
}
.background span:nth-child(26) {
    color: #0042aa;
    top: 100%;
    left: 77%;
    animation-duration: 60s;
    animation-delay: -78s;
    transform-origin: -11vw -14vh;
    box-shadow: 32vmin 0 4.293657724636135vmin currentColor;
}
.background span:nth-child(27) {
    color: #00a3d8;
    top: 83%;
    left: 43%;
    animation-duration: 83s;
    animation-delay: -13s;
    transform-origin: 24vw 20vh;
    box-shadow: 32vmin 0 4.109987290654985vmin currentColor;
}

