:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    height: 400px;
    color: black;
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 80px;
    background-image: url("https://media.giphy.com/media/KVZWZQoS0yqfIiTAKq/giphy.mp4");
    background-size: auto;
    background-position: center;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

body {
    background-image: url("https://wallpaperplay.com/walls/full/2/0/7/15810.jpg");
}

.jumbotron-heading {
    padding-bottom: 10px;
    font-weight: 300;
}

.jumbotron .container {
    padding-top: 30px;
    max-width: 40rem;
    background: rgba(255, 255, 255, 0.8);
}

.jumbotron .container p {
    padding-bottom: 30px;
}

.lead {
    color: black;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-text {
    color: black;
}

