.wrapper {
background: rgb(5,41,144);
background: linear-gradient(90deg, rgba(5,41,144,1) 0%, rgba(3,31,89,1) 50%, rgba(25,31,139,1) 100%);

}

.d-flex {
    padding-top: 80px;
    padding-bottom: 80px;
}