<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7d78a513d8dc44d880cfca98061fa934 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_7d78a513d8dc44d880cfca98061fa934" ></div>
        
</body>
<script>    
    
            var map_7d78a513d8dc44d880cfca98061fa934 = L.map(
                "map_7d78a513d8dc44d880cfca98061fa934",
                {
                    center: [52.520008, 13.404954],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9325adaec5134200b9e3f6c7708eb151 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7d78a513d8dc44d880cfca98061fa934);
        
    
            var marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973 = L.markerClusterGroup(
                {}
            );
            map_7d78a513d8dc44d880cfca98061fa934.addLayer(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var marker_bea7ffb6cd01449392c56508a8497e86 = L.marker(
                [52.5240055, 13.4180496],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_7c0b2adb14844a7f969bbe188d02bab3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_bea7ffb6cd01449392c56508a8497e86.setIcon(icon_7c0b2adb14844a7f969bbe188d02bab3);
        
    
        var popup_9ed9a4591a8a42f1b1bb2d682698f849 = L.popup({"maxWidth": "100%"});

        
            var html_dd2491c55a0f4c1db4b68337b044bb62 = $(`<div id="html_dd2491c55a0f4c1db4b68337b044bb62" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/79468594 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Otto-Braun Strasse 67</li>                     <li>Price: 3.390 € &euro;</li>                     <li>Sqm: 55 &#13217;</li>                     <li>Rooms: 4</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Mitte (Mitte):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_9ed9a4591a8a42f1b1bb2d682698f849.setContent(html_dd2491c55a0f4c1db4b68337b044bb62);
        

        marker_bea7ffb6cd01449392c56508a8497e86.bindPopup(popup_9ed9a4591a8a42f1b1bb2d682698f849)
        ;

        
    
    
            marker_bea7ffb6cd01449392c56508a8497e86.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f935d4a3e9e4c72a4311aebc280c10a = L.marker(
                [52.5081402, 13.4067698],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_26422680cce8404e99c1cdede822c9dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_2f935d4a3e9e4c72a4311aebc280c10a.setIcon(icon_26422680cce8404e99c1cdede822c9dc);
        
    
        var popup_04eb5537d89f40a1a54bcc41cb1ad5a7 = L.popup({"maxWidth": "100%"});

        
            var html_964622f92edc45e79d02de6c3d0f3b7e = $(`<div id="html_964622f92edc45e79d02de6c3d0f3b7e" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/115478066 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Stallschreiberstraße 27</li>                     <li>Price: 1.799 € &euro;</li>                     <li>Sqm: 95,8 &#13217;</li>                     <li>Rooms: 4</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Mitte (Mitte):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_04eb5537d89f40a1a54bcc41cb1ad5a7.setContent(html_964622f92edc45e79d02de6c3d0f3b7e);
        

        marker_2f935d4a3e9e4c72a4311aebc280c10a.bindPopup(popup_04eb5537d89f40a1a54bcc41cb1ad5a7)
        ;

        
    
    
            marker_2f935d4a3e9e4c72a4311aebc280c10a.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dec5507484d34725a0b0064a1654e0f4 = L.marker(
                [52.4359279, 13.5726702],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_09dce7546b814747802c7756cbd31cf5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_dec5507484d34725a0b0064a1654e0f4.setIcon(icon_09dce7546b814747802c7756cbd31cf5);
        
    
        var popup_b1926cd3b0624637818c8721edbf8ed8 = L.popup({"maxWidth": "100%"});

        
            var html_082b249ceb794c9b935b531d32e5e94b = $(`<div id="html_082b249ceb794c9b935b531d32e5e94b" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116648458 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Grünauer Straße 129d</li>                     <li>Price: 1.053 € &euro;</li>                     <li>Sqm: 105,76 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Köpenick (Köpenick):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_b1926cd3b0624637818c8721edbf8ed8.setContent(html_082b249ceb794c9b935b531d32e5e94b);
        

        marker_dec5507484d34725a0b0064a1654e0f4.bindPopup(popup_b1926cd3b0624637818c8721edbf8ed8)
        ;

        
    
    
            marker_dec5507484d34725a0b0064a1654e0f4.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ebbce0d3b0e4499da2e7d3aabd1339ba = L.marker(
                [52.5981001, 13.3809978],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_a5f19821f51940c0987b5d3976d29127 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_ebbce0d3b0e4499da2e7d3aabd1339ba.setIcon(icon_a5f19821f51940c0987b5d3976d29127);
        
    
        var popup_07b9ce8de6a74e9bb1b1c3df6f9470d1 = L.popup({"maxWidth": "100%"});

        
            var html_f1eef84def3e4f4885364c58a7dd840f = $(`<div id="html_f1eef84def3e4f4885364c58a7dd840f" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116794274 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Nesselweg 17</li>                     <li>Price: 800 € &euro;</li>                     <li>Sqm: 66,49 &#13217;</li>                     <li>Rooms: 2</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Rosenthal (Pankow):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_07b9ce8de6a74e9bb1b1c3df6f9470d1.setContent(html_f1eef84def3e4f4885364c58a7dd840f);
        

        marker_ebbce0d3b0e4499da2e7d3aabd1339ba.bindPopup(popup_07b9ce8de6a74e9bb1b1c3df6f9470d1)
        ;

        
    
    
            marker_ebbce0d3b0e4499da2e7d3aabd1339ba.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3abc5206b069473d8d291fbc5b913b0b = L.marker(
                [52.5981001, 13.3809978],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_dace5c46c6ed4615bbe17fda744eb897 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_3abc5206b069473d8d291fbc5b913b0b.setIcon(icon_dace5c46c6ed4615bbe17fda744eb897);
        
    
        var popup_dc9ebe0d81c34576831580d30179dd43 = L.popup({"maxWidth": "100%"});

        
            var html_0233bffecee34a4abec2e59112b99581 = $(`<div id="html_0233bffecee34a4abec2e59112b99581" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116794179 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Nesselweg 17</li>                     <li>Price: 770 € &euro;</li>                     <li>Sqm: 56,57 &#13217;</li>                     <li>Rooms: 2</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Rosenthal (Pankow):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_dc9ebe0d81c34576831580d30179dd43.setContent(html_0233bffecee34a4abec2e59112b99581);
        

        marker_3abc5206b069473d8d291fbc5b913b0b.bindPopup(popup_dc9ebe0d81c34576831580d30179dd43)
        ;

        
    
    
            marker_3abc5206b069473d8d291fbc5b913b0b.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_da99965e5d20409783db5f53a4978adb = L.marker(
                [52.4288557, 13.2974219295381],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_4c485e5d241e4c09a73fbc4560cc7c5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_da99965e5d20409783db5f53a4978adb.setIcon(icon_4c485e5d241e4c09a73fbc4560cc7c5e);
        
    
        var popup_f1c678387fc041739c9344d520efa71c = L.popup({"maxWidth": "100%"});

        
            var html_7dc99c4601944ef8ab0afcf741d76c4f = $(`<div id="html_7dc99c4601944ef8ab0afcf741d76c4f" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/117041654 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Sophie-Taeuber-Arp-Weg 1a</li>                     <li>Price: 1.417,67 € &euro;</li>                     <li>Sqm: 101,24 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Lichterfelde (Steglitz):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_f1c678387fc041739c9344d520efa71c.setContent(html_7dc99c4601944ef8ab0afcf741d76c4f);
        

        marker_da99965e5d20409783db5f53a4978adb.bindPopup(popup_f1c678387fc041739c9344d520efa71c)
        ;

        
    
    
            marker_da99965e5d20409783db5f53a4978adb.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f6ec593ce57b43e9ac2c67414008153d = L.marker(
                [52.5111368, 13.3823385],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_f807bd36ee5c42e48ed29727fea2d5c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_f6ec593ce57b43e9ac2c67414008153d.setIcon(icon_f807bd36ee5c42e48ed29727fea2d5c2);
        
    
        var popup_f78a99b9ef6d4c7a8c63368fd648a186 = L.popup({"maxWidth": "100%"});

        
            var html_786750accd0642fdaf88cb0cc45ae2b3 = $(`<div id="html_786750accd0642fdaf88cb0cc45ae2b3" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116233771 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Voßstraße 34</li>                     <li>Price: 858,78 € &euro;</li>                     <li>Sqm: 24,73 &#13217;</li>                     <li>Rooms: 1</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Mitte (Mitte):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_f78a99b9ef6d4c7a8c63368fd648a186.setContent(html_786750accd0642fdaf88cb0cc45ae2b3);
        

        marker_f6ec593ce57b43e9ac2c67414008153d.bindPopup(popup_f78a99b9ef6d4c7a8c63368fd648a186)
        ;

        
    
    
            marker_f6ec593ce57b43e9ac2c67414008153d.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2d9ef6706f6147adaa56315e19ea865a = L.marker(
                [52.5103365, 13.3838415],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_ace9b494b46f48d9b3d5fcf2b200c726 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_2d9ef6706f6147adaa56315e19ea865a.setIcon(icon_ace9b494b46f48d9b3d5fcf2b200c726);
        
    
        var popup_fd1456268506471e864fb5a250844820 = L.popup({"maxWidth": "100%"});

        
            var html_73dd5e052a714906980c5b392098c9cf = $(`<div id="html_73dd5e052a714906980c5b392098c9cf" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/117013875 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Wilhelmstr. 96</li>                     <li>Price: 1.153,98 € &euro;</li>                     <li>Sqm: 64,11 &#13217;</li>                     <li>Rooms: 2</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Mitte (Mitte):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_fd1456268506471e864fb5a250844820.setContent(html_73dd5e052a714906980c5b392098c9cf);
        

        marker_2d9ef6706f6147adaa56315e19ea865a.bindPopup(popup_fd1456268506471e864fb5a250844820)
        ;

        
    
    
            marker_2d9ef6706f6147adaa56315e19ea865a.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a78ba5d7a650468281ec5c9ab5b3ed92 = L.marker(
                [52.4999487, 13.3246068],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_e10e6e51d7bf4dcfb59402b5565f7080 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_a78ba5d7a650468281ec5c9ab5b3ed92.setIcon(icon_e10e6e51d7bf4dcfb59402b5565f7080);
        
    
        var popup_d5dfb7df8abc4c18aa1f98aef81a55bc = L.popup({"maxWidth": "100%"});

        
            var html_229b9f419a784b84826f0ae32fb2987c = $(`<div id="html_229b9f419a784b84826f0ae32fb2987c" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116467183 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Lietzenburger Str. 101</li>                     <li>Price: 2.460,44 € &euro;</li>                     <li>Sqm: 115,84 &#13217;</li>                     <li>Rooms: 2,5</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Wilmersdorf (Wilmersdorf):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_d5dfb7df8abc4c18aa1f98aef81a55bc.setContent(html_229b9f419a784b84826f0ae32fb2987c);
        

        marker_a78ba5d7a650468281ec5c9ab5b3ed92.bindPopup(popup_d5dfb7df8abc4c18aa1f98aef81a55bc)
        ;

        
    
    
            marker_a78ba5d7a650468281ec5c9ab5b3ed92.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a980a110c0a74ac3842ac25335212b84 = L.marker(
                [52.5173367, 13.4158783],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_6632e62842bc444a81e125426132840e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_a980a110c0a74ac3842ac25335212b84.setIcon(icon_6632e62842bc444a81e125426132840e);
        
    
        var popup_c2d8c96830234a69b2101de4e93b6b91 = L.popup({"maxWidth": "100%"});

        
            var html_50d5ce8f2bb244318d97f336489a63df = $(`<div id="html_50d5ce8f2bb244318d97f336489a63df" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/115694512 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Voltairestraße 11</li>                     <li>Price: 3.265,42 € &euro;</li>                     <li>Sqm: 143,54 &#13217;</li>                     <li>Rooms: 3,5</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Mitte (Mitte):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_c2d8c96830234a69b2101de4e93b6b91.setContent(html_50d5ce8f2bb244318d97f336489a63df);
        

        marker_a980a110c0a74ac3842ac25335212b84.bindPopup(popup_c2d8c96830234a69b2101de4e93b6b91)
        ;

        
    
    
            marker_a980a110c0a74ac3842ac25335212b84.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3aeaa1fd879344b380745856bbfc6fac = L.marker(
                [52.507766, 13.4062681],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_c4ab56e3e5054312a4501761ee369e55 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_3aeaa1fd879344b380745856bbfc6fac.setIcon(icon_c4ab56e3e5054312a4501761ee369e55);
        
    
        var popup_958dc9e06b514b12a493d75100e3c091 = L.popup({"maxWidth": "100%"});

        
            var html_9238527903304a1fad1783f95e14c3dd = $(`<div id="html_9238527903304a1fad1783f95e14c3dd" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/114437800 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Stallschreiberstraße 31</li>                     <li>Price: 1.999 € &euro;</li>                     <li>Sqm: 125,2 &#13217;</li>                     <li>Rooms: 4</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Mitte (Mitte):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_958dc9e06b514b12a493d75100e3c091.setContent(html_9238527903304a1fad1783f95e14c3dd);
        

        marker_3aeaa1fd879344b380745856bbfc6fac.bindPopup(popup_958dc9e06b514b12a493d75100e3c091)
        ;

        
    
    
            marker_3aeaa1fd879344b380745856bbfc6fac.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_86d8a58e24e34496b6fa529ca787f470 = L.marker(
                [52.4787896, 13.2972779],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_28916850cf2f498e826f1c3ff9efad20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_86d8a58e24e34496b6fa529ca787f470.setIcon(icon_28916850cf2f498e826f1c3ff9efad20);
        
    
        var popup_ed21b0474a844bdeb8db11d4606f8a8e = L.popup({"maxWidth": "100%"});

        
            var html_219a4d3d553c40e497da3d15645af9f1 = $(`<div id="html_219a4d3d553c40e497da3d15645af9f1" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116883036 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Helene-Jacobs-Straße 26</li>                     <li>Price: 1.400 € &euro;</li>                     <li>Sqm: 89,21 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Schmargendorf (Wilmersdorf):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_ed21b0474a844bdeb8db11d4606f8a8e.setContent(html_219a4d3d553c40e497da3d15645af9f1);
        

        marker_86d8a58e24e34496b6fa529ca787f470.bindPopup(popup_ed21b0474a844bdeb8db11d4606f8a8e)
        ;

        
    
    
            marker_86d8a58e24e34496b6fa529ca787f470.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_264085c11712432fb7bada49ba39d699 = L.marker(
                [52.4787896, 13.2972779],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_b764b20fc7dd4ab09e6c5c9909b4a8ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_264085c11712432fb7bada49ba39d699.setIcon(icon_b764b20fc7dd4ab09e6c5c9909b4a8ab);
        
    
        var popup_e493f9d86eed4a9790c4920fbdb64666 = L.popup({"maxWidth": "100%"});

        
            var html_2407e39d9fa04f6e841558f32bcf1dcb = $(`<div id="html_2407e39d9fa04f6e841558f32bcf1dcb" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116882902 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Helene-Jacobs-Straße 26</li>                     <li>Price: 1.030 € &euro;</li>                     <li>Sqm: 65,96 &#13217;</li>                     <li>Rooms: 2</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Schmargendorf (Wilmersdorf):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_e493f9d86eed4a9790c4920fbdb64666.setContent(html_2407e39d9fa04f6e841558f32bcf1dcb);
        

        marker_264085c11712432fb7bada49ba39d699.bindPopup(popup_e493f9d86eed4a9790c4920fbdb64666)
        ;

        
    
    
            marker_264085c11712432fb7bada49ba39d699.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea6df7d45de94821ae90cc9979aa9927 = L.marker(
                [52.5931545, 13.3819714],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_af04f94ca52b40db98ec2515276093be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_ea6df7d45de94821ae90cc9979aa9927.setIcon(icon_af04f94ca52b40db98ec2515276093be);
        
    
        var popup_c7ad47b5063042d7aaae0dfca84d3506 = L.popup({"maxWidth": "100%"});

        
            var html_0b5a433453694f26ba5327af96fcbc5e = $(`<div id="html_0b5a433453694f26ba5327af96fcbc5e" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/115755969 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Friedrich-Engels-Straße 149</li>                     <li>Price: 620,14 € &euro;</li>                     <li>Sqm: 71 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Pankow (Pankow):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_c7ad47b5063042d7aaae0dfca84d3506.setContent(html_0b5a433453694f26ba5327af96fcbc5e);
        

        marker_ea6df7d45de94821ae90cc9979aa9927.bindPopup(popup_c7ad47b5063042d7aaae0dfca84d3506)
        ;

        
    
    
            marker_ea6df7d45de94821ae90cc9979aa9927.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_08975a51922241fa84ea08692fb36278 = L.marker(
                [52.4563401, 13.5772755],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_da48bec339cf421ebd144577ffa68549 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_08975a51922241fa84ea08692fb36278.setIcon(icon_da48bec339cf421ebd144577ffa68549);
        
    
        var popup_fe6d3728d5a648ddabcf36018e204e11 = L.popup({"maxWidth": "100%"});

        
            var html_bae641f51cda452792bcc86e7da58f4e = $(`<div id="html_bae641f51cda452792bcc86e7da58f4e" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/115232714 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Bahnhofstraße 45</li>                     <li>Price: 653,14 € &euro;</li>                     <li>Sqm: 75,16 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Blankenburg (Weißensee):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_fe6d3728d5a648ddabcf36018e204e11.setContent(html_bae641f51cda452792bcc86e7da58f4e);
        

        marker_08975a51922241fa84ea08692fb36278.bindPopup(popup_fe6d3728d5a648ddabcf36018e204e11)
        ;

        
    
    
            marker_08975a51922241fa84ea08692fb36278.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_421ac6a73d584408926f204354126586 = L.marker(
                [52.5617827, 13.4292579],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_3ed07cc0d1e7426c85e2ba0f972b60c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_421ac6a73d584408926f204354126586.setIcon(icon_3ed07cc0d1e7426c85e2ba0f972b60c4);
        
    
        var popup_09279dba79634a9cad893aa7324a24f9 = L.popup({"maxWidth": "100%"});

        
            var html_8c75023b18dc4d4a8e55a034ca6f3a25 = $(`<div id="html_8c75023b18dc4d4a8e55a034ca6f3a25" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/114795747 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Treskowstraße 30</li>                     <li>Price: 534,93 € &euro;</li>                     <li>Sqm: 59 &#13217;</li>                     <li>Rooms: 2</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Heinersdorf (Weißensee):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_09279dba79634a9cad893aa7324a24f9.setContent(html_8c75023b18dc4d4a8e55a034ca6f3a25);
        

        marker_421ac6a73d584408926f204354126586.bindPopup(popup_09279dba79634a9cad893aa7324a24f9)
        ;

        
    
    
            marker_421ac6a73d584408926f204354126586.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8f607dc9c9d4cfca8c377bf2b730f6f = L.marker(
                [52.5621908, 13.4286746],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_a03350c185894a1b934feda4dcfb572c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_e8f607dc9c9d4cfca8c377bf2b730f6f.setIcon(icon_a03350c185894a1b934feda4dcfb572c);
        
    
        var popup_5c2875e96f064b06950b8c5985568ab3 = L.popup({"maxWidth": "100%"});

        
            var html_d1358abde1184fea8cc22063f7a86cff = $(`<div id="html_d1358abde1184fea8cc22063f7a86cff" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/114640480 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Treskowstraße 33</li>                     <li>Price: 689,99 € &euro;</li>                     <li>Sqm: 79 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Heinersdorf (Weißensee):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_5c2875e96f064b06950b8c5985568ab3.setContent(html_d1358abde1184fea8cc22063f7a86cff);
        

        marker_e8f607dc9c9d4cfca8c377bf2b730f6f.bindPopup(popup_5c2875e96f064b06950b8c5985568ab3)
        ;

        
    
    
            marker_e8f607dc9c9d4cfca8c377bf2b730f6f.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_12605b152d9c4161b4fafc3d81879f54 = L.marker(
                [52.5620192, 13.4292888],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_16009132b1044b119f1ad6d5c1da72b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_12605b152d9c4161b4fafc3d81879f54.setIcon(icon_16009132b1044b119f1ad6d5c1da72b8);
        
    
        var popup_1c24595dff404671bba7e11951bf777c = L.popup({"maxWidth": "100%"});

        
            var html_40b03a72dbed44388a913d14868da1e3 = $(`<div id="html_40b03a72dbed44388a913d14868da1e3" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/114063818 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Treskowstr. 31</li>                     <li>Price: 621,51 € &euro;</li>                     <li>Sqm: 72 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Heinersdorf (Weißensee):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_1c24595dff404671bba7e11951bf777c.setContent(html_40b03a72dbed44388a913d14868da1e3);
        

        marker_12605b152d9c4161b4fafc3d81879f54.bindPopup(popup_1c24595dff404671bba7e11951bf777c)
        ;

        
    
    
            marker_12605b152d9c4161b4fafc3d81879f54.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cba927d3bf3548d79a5597e3f523f041 = L.marker(
                [52.5242913, 13.3315314289634],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_e427be759d7c400c8dccb86e4c3e8f2b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_cba927d3bf3548d79a5597e3f523f041.setIcon(icon_e427be759d7c400c8dccb86e4c3e8f2b);
        
    
        var popup_9f105b0e085e4d108c6a3543de6374d2 = L.popup({"maxWidth": "100%"});

        
            var html_63d70b23ddfb430eb29789c75c2b97e3 = $(`<div id="html_63d70b23ddfb430eb29789c75c2b97e3" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/116987493 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Alt-Moabit 46</li>                     <li>Price: 950 € &euro;</li>                     <li>Sqm: 120 &#13217;</li>                     <li>Rooms: 4</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Tiergarten (Tiergarten):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_9f105b0e085e4d108c6a3543de6374d2.setContent(html_63d70b23ddfb430eb29789c75c2b97e3);
        

        marker_cba927d3bf3548d79a5597e3f523f041.bindPopup(popup_9f105b0e085e4d108c6a3543de6374d2)
        ;

        
    
    
            marker_cba927d3bf3548d79a5597e3f523f041.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_01fb6aa2fd40432b9658ee39bdaf01b3 = L.marker(
                [52.5242913, 13.3315314289634],
                {}
            ).addTo(marker_cluster_b2690bc1bc264bb2a0ced0f1a8bf2973);
        
    
            var icon_c091d5ef28e9451c91da0498db5e058e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "darkblue", "prefix": "fa"}
            );
            marker_01fb6aa2fd40432b9658ee39bdaf01b3.setIcon(icon_c091d5ef28e9451c91da0498db5e058e);
        
    
        var popup_f37be574879d4e38894e6f1f676f1646 = L.popup({"maxWidth": "100%"});

        
            var html_34caa45c9f9c45d8b188b8999632d639 = $(`<div id="html_34caa45c9f9c45d8b188b8999632d639" style="width: 100.0%; height: 100.0%;">                   <h4><a href=https://www.immobilienscout24.de/expose/107851843 target='_blank'>Original listing</a></h4>                   <ul>                     <li>Alt-Moabit 46</li>                     <li>Price: 1.936 € &euro;</li>                     <li>Sqm: 121 &#13217;</li>                     <li>Rooms: 3</li>                     <li>Price per Sqm:  6.69 &euro;</li>                     <li>Mean price per Sqm in Tiergarten (Tiergarten):  2.22 &euro;</li>                     <li>Difference:  2.22 &euro;</li>                   <ul>                   </div>`)[0];
            popup_f37be574879d4e38894e6f1f676f1646.setContent(html_34caa45c9f9c45d8b188b8999632d639);
        

        marker_01fb6aa2fd40432b9658ee39bdaf01b3.bindPopup(popup_f37be574879d4e38894e6f1f676f1646)
        ;

        
    
    
            marker_01fb6aa2fd40432b9658ee39bdaf01b3.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
</script>