<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HotspotHousing</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="home.css">
</head>
<body>
<main role="main">
    <section class="jumbotron text-center">
        <div class="img-background"></div>
        <div class="container">
            <h1 class="jumbotron-heading">Hotspot Housing</h1>
            <p class="lead text-muted">A convenient map overview over the latest offers by two of the leading german
                flat websites</p>
        </div>
    </section>
    <div class="album py-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             src="https://cdn.discordapp.com/attachments/426000147831586817/687760055113744406/1124592.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Berlin</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             src="https://cdn.discordapp.com/attachments/426000147831586817/687777334295527498/1179994.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Hamburg</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             src="https://cdn.discordapp.com/attachments/426000147831586817/687763706226147358/1095183.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Munich</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>
</html>
