{% extends 'base_for_stats.html' %}

<script>
    {% block jquery %}
        var endpoint = '/stats/hamburg/data';
        var defaultData = [];
        var labels = [];

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (response) {
                defaultData = response.data;
                labels = response.labels;
                setChartData()
            },
            error: function (error_data) {
                console.log(error_data);
            }
        });

        function setChartData() {
            var ctx = document.getElementById('FlatDataChart');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Mean Price per Sqm',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    {% endblock jquery %}
</script>
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col-sm-8 my-auto">
            <canvas id="FlatDataChart" width="400" height="400"></canvas>
        </div>
    </div>
{% endblock content %}